
page-login {

  .login-content {
    background: #1c2627 url("../assets/imgs/bg.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    .logo-row {
      padding-top: 50px;
      padding-bottom: 20px;
    }


    ion-row {
       align-items: center;
       text-align: center;
     }

     ion-item {
         border-radius: 30px !important;
         padding-left: 30px !important;
         margin-bottom: 10px;
         border: 1px solid #ffffff;
         border-bottom: 0px !important;
         box-shadow: none !important;
     }

     .signup-col {
       margin: 0px 16px 0px 16px;
       padding-bottom: 20px;
     }

     .item-inner {
       border-bottom-color: #ffffff !important;
       box-shadow: none !important;
     }

     .submit-btn {
       background: #f53d3d;
       box-shadow: none;
       border-radius: 30px !important;

     }

     .register-btn {
       color: #ffffff;

     }
  }

}
