<ion-header>
  <ion-navbar>
    <ion-title>QR Code</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-item-group>
    <ion-card *ngIf="product">
      <ion-item>
        <h1>{{ product.name }}</h1>
        <p>คงเหลือ: {{ product.on_hand }}</p>
      </ion-item>
      <img [src]="product.photo" *ngIf="product.photo">
      <img src="./assets/imgs/no-image.png" *ngIf="!product.photo" padding>
    </ion-card>
    <ion-card *ngIf="signatureImage">
      <ion-item>
        <h2>ลงชื่อ</h2>
      </ion-item>
      <img [src]="signatureImage">
    </ion-card>
  </ion-item-group>
  <ion-row>
    <ion-col>
      <button ion-button outline block (click)="scanBarcode()">QR Code</button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <button ion-button outline block (click)="takeSignature()">ลายเซ็นต์ดิจิตอล</button>
    </ion-col>
  </ion-row>
</ion-content>
